# Portable Git
.git-portable/

# Firebase configuration & temporary files
.firebase/
firebase-debug.log
ui-debug.log

# Node & package files (if any)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
